:root {
    --neutral-50: #FAFAFA;
    --neutral-100: #F5F5F5;
    --neutral-400: #A3A3A3;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --rose-300: #FDA4AF;
    --rose-400: #FB7185;
    --rose-500: #F43F5E;
    --sidebar-width: 60em;
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--neutral-900);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
}

.bg-dark {
    background-color: var(--neutral-900);
}

.text-light {
    color: var(--neutral-50);
}

.text-dark {
    color: var(--neutral-900);
}

.text-highlight {
    color: var(--rose-500);
    font-weight: 600;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* 
    Navbar
*/
#navbar {
    width: 100%;
    height: 80px;
    border: none;
    margin: 0;
    padding: 2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    transition: transform ease-in .2s, background-color ease-in .2s;
    -webkit-transition: transform ease-in .2s, background-color ease-in .2s;
    -moz-transition: transform ease-in .2s, background-color ease-in .2s;
    -o-transition: transform ease-in .2s, background-color ease-in .2s;
}

.nav_items {
    margin: 0;
    padding: 0 2rem;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 600;
}

.nav_items__link {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav_items__link a:hover {
    color: var(--rose-500);
}

.nav_items__link .active {
    color: var(--rose-500);
    text-decoration: wavy underline;
}

footer {
    width: 100%;
    height: 250px;
    padding: 3.4rem;
    background-color: var(--neutral-800);
    border-top: 1px solid var(--rose-500);
    text-align: center;
}

.footer_quote {
    color: var(--neutral-400);
    font-style: italic;
    font-size: .8rem;
}

.footer_copy {
    display: block;
    margin-top: 2rem;
    color: var(--rose-400);
    font-size: .8rem;
}

/* 
    Home
*/
.home_header {
    width: 100%;
    height: 100vh;
    background: no-repeat center url("img/home_header_bg.jpg");
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    align-items: center;
}

.home_header__heading {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.home_header__heading h1,  h2 {
    color: var(--neutral-900)
}

.home_header__heading h1 {
    margin: 20rem auto 0;
    font-size: 3.5rem;
}

.home_header__heading h2 {
    margin: 0 auto;
    font-size: 2.4rem;
}

.home_content {
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home_content__picture {
    width: 300px;
    height: 300px;
    margin-top: 4rem;
    border-radius: 100%;
    background: no-repeat center url("img/henrymiller.jpg");
}

.home_content p {
    color: var(--neutral-100);
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    font-size: 1.2rem;
}

.home_content__links {
    list-style: none;
    display: flex;
    width: auto;
    margin-bottom: 3rem;
}

.home_content__links li {
    display: flex;
    align-items: center;
    color: var(--neutral-50);
    margin: 1rem 3rem;
    cursor: pointer;
}

.home_content__links li span {
    margin-right: .5rem;
}

/*
    Biografia
*/
.bio_header {
    width: 100%;
    height: 50%;
    padding: 8rem;
    color: var(--neutral-50);
    background: linear-gradient(rgb(72,0,72,0.5), rgb(192,72,72,0.5)), no-repeat bottom url("img/bio_header.jpg");
    background-size: cover;
    background-attachment:fixed;
}

.bio_main_container {
    max-width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
    position: relative;
    display: flex;
}

.bio_sidebar {
    max-width: 250px;
    position: sticky;
    height: fit-content;
    top: 120px;
}

.bio_sidebar h2 {
    color: var(--rose-400);
    margin-right: 5rem;
}

.bio_sidebar__menu {
    list-style: none;
    padding-left: 0;
    font-size: .9rem;
    line-height: 1.4rem;
    color: var(--neutral-400);
}

.bio_sidebar__submenu {
    list-style: none;
    padding-left: .8rem;
}

.bio_content_container {
    height: 100%;
    width: auto;
    margin-bottom: 10rem;
}   

.bio_section {
    padding: 0 5rem;
}

.bio_section h1 {
    color: var(--rose-400);
    font-size: 2rem;
    font-weight: 600;
}

.bio_section h2 {
    color: var(--rose-300);
}

.bio_section p {
    color: var(--neutral-50);
    line-height: 1.8rem;
}

.bio_section__list {
    color: var(--neutral-100);
}

.bio_section__list li {
    margin: .8rem;
}

.bio_section__quote {
    padding-left: 2.4rem;
    margin: 2.4rem 0;
    text-indent: 1rem;
    font-size: .9rem;
    font-style: italic;
}

/*
    Bibliografia
*/
.biblio_header {
    width: 100%;
    height: 50%;
    padding: 8rem;
    color: var(--neutral-50);
    background: linear-gradient(rgb(72,0,72,0.5), rgb(192,72,72,0.5)), no-repeat center url("img/biblio_header.jpg");
    background-size: cover;
}

.biblio_section__list {
    line-height: 1.8rem;
}

.biblio_section__list li li{
    margin-top: 0;
}

.biblio_title {
    font-style: italic;
}

a.biblio_title {
    color: var(--rose-500);
    font-weight: 600;
}

a.biblio_isbn {
    font-weight: 600;
}

/* 
Acuarelas
*/
.watercolors_header {
    width: 100%;
    height: 50%;
    padding: 8rem;
    color: var(--rose-400);
    background: no-repeat center url("img/watercolors_header.jpg");
    background-size: cover;
}

.watercolors_content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 10rem;
}

.watercolors_subtitle {
    max-width: 80%;
    margin: 2rem auto 5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--neutral-400);
}

.watercolors_grid {
    margin: 2rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
}

.watercolors_grid__item {
    border: 1px solid var(--neutral-800);
    border-radius: 5px;
    padding: 1.4rem;
    text-align: center;
}

.watercolors_grid__item:hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(24, 19, 22, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.item_img_container {
    margin: 0 auto;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.item_img_container img {
    margin: 0 auto;
    transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
}

.item_img_container img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.watercolors_grid__item h2 {
    color: var(--rose-400);
    margin-bottom: 0;
    font-size: 1.2rem;
}
.watercolors_grid__item p {
    color: var(--neutral-400);
    font-size: .9em;
}

.watercolors_modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.watercolors_modal__content {
    background-color: rgba(23, 23, 23, .8);
    backdrop-filter: blur(15px);
    margin: 2.4rem auto;
    padding: 20px;
    border: 1px solid var(--neutral-800);
    width: 80%;
    height: 90%;
    position: relative;
    text-align: center;
}

#watercolors_modal__img {
    background: no-repeat center;
    width: 100%;
    height: 95%;
}

#watercolors_modal__txt {
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 600;
    color: var(--rose-400);
}

.watercolors_modal__btn {
    position: absolute;
    right: .4rem;
    top: .4rem;
    cursor: pointer;
}

.watercolors_modal__btn span {
    font-size: 1.2rem;
    color: var(--neutral-400);
}

.watercolors_modal__btn span:hover {
    color: var(--rose-400);
}

/* 
Cine
*/
.movies_header {
    width: 100%;
    height: 50%;
    padding: 8rem;
    color: var(--neutral-50);
    background: linear-gradient(rgb(72,0,72,0.5), rgb(192,72,72,0.5)), no-repeat bottom url("img/movies_header.jpg");
    background-size: cover;
    background-attachment:fixed;
}

.movies_content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 10rem;
}

.movies_section {
    width: 60%;
    margin: 3rem auto;
    border: 1px solid var(--neutral-800);
    border-radius: 5px;
}

.movies_section:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.movies_section__header {
    text-align: center;
    margin-bottom: 2rem;
}

.movies_section__header h1 {
    color: var(--rose-400);
    margin: 2rem;
}

.movies_section__img_container {
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
}

.movies_section__img_container img {
    margin: 0 auto;
}

.movies_section__cards {
    max-width: 90%;
    margin: 1rem auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms ease-out;
}

.movie_card {
    padding: 2rem 1rem;
    display: flex;
    height: 20rem;
    border-top: 1px solid var(--neutral-800);
}

.movies_section__cards .movie_card:last-of-type {
    border-bottom: 1px solid var(--neutral-800);
}

.movie_card__img {
    flex: 0 0 30%;
    max-height: 100%;
    background-size: cover;
}

#card_img_odyssey {
    background: no-repeat center url("./img/movies/henry_miller_odyssey.jpg");
}

#card_img_reds {
    background: no-repeat center url("./img/movies/reds.jpg");
}

#card_img_notdead {
    background: no-repeat center url("./img/movies/notdead.jpg");
}   

#card_img_prophet {
    background: no-repeat center url("./img/movies/prophet.jpg");
}   

#card_img_tropic {
    background: no-repeat center url("./img/movies/tropic_of_cancer.jpg");
}

#card_img_clichy {
    background: no-repeat center url("./img/movies/quiet_days.jpg");
}

#card_img_henry_june {
    background: no-repeat center url("./img/movies/henry_and_june.jpg");
}

#card_img_stanza {
    background: no-repeat center url("./img/movies/stanza.jpg");
}

#card_img_quiet_days_90 {
    background: no-repeat center url("./img/movies/quiet_days_1990.jpg");
}

#card_img_mara {
    background: no-repeat center url("./img/movies/mara.jpg");
}

.movie_card_content {
    padding-left: 2rem;
    padding-right: 1rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--rose-300) var(--neutral-800);
}

.movie_card_content::-webkit-scrollbar-button {
    display: none;
}

.movie_card_content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.movie_card_content::-webkit-scrollbar-track {
    background: var(--neutral-800);
}

.movie_card_content::-webkit-scrollbar-thumb {
    background-color: var(--rose-300);
    border-radius: 20px;
}

.movie_card_content header h1 {
    color: var(--rose-400);
    font-size: 1.4rem;
    margin: 0;
}

.movie_card_content header h1:hover {
    text-decoration: dotted underline;
}

.movie_card_content header span {
    font-size: .85rem;
}

.movie_card_content header span:first-of-type {
    display: block;
    margin-bottom: .5rem;
    color: var(--neutral-400);
}

.movie_card_content .movie_card_genre {
    width: fit-content;
    padding: .2rem .4rem;
    border-radius: 5px;
    margin: .5rem .5rem .5rem 0;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: var(--rose-300);
}

.movie_card_content h2 {
    font-size: 1rem;
    color: var(--neutral-100);
}

.movie_card_content p {
    font-size: .8rem;
    line-height: 1.2rem;
    color: var(--neutral-400);
    text-align: justify;
}

.movie_card_credits {
    display: flex;
    align-items: center;
    margin: .4rem auto;
}

.movie_card_credits .director {
    margin-top: 1rem;
}

.movie_card_credits span:first-of-type {
    margin-right: 10px;
}

.movie_card_credits span:not(:first-of-type) {
    font-size: .9rem;
    color: var(--neutral-100);
    margin-right: 15px;
}


.movie_card_ico {
    color: var(--rose-400);
    font-size: 1rem;
}

.movies_section_btn {
    width: fit-content;
    margin: 2rem auto;
}

.movies_collapsible, .movies_collapsible span {
    transition: transform ease-in 50ms, ease-out 50ms;
    -webkit-transition: transform ease-in 50ms, ease-out 50ms;
    -moz-transition: transform ease-in 50ms, ease-out 50ms;
    -o-transition: transform ease-in 50ms, ease-out 50ms;
}

.movies_collapsible {
    cursor: pointer;
    padding: .3rem 1.8rem;
    border-bottom: 2px solid var(--neutral-800);
    overflow: hidden;
}

.movies_collapsible:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-color: var(--rose-400);
    transform: scale(1.04);
}

.movies_collapsible:hover span {
    color: var(--rose-400);
    transform: scale(1.04);
}

.movies_collapsible.active span {
    transform: rotate(180deg);
}

.movies_collapsible span {
    color: var(--rose-300);
    pointer-events: none;
}

/* 
Entrevista
*/
.interview_header {
    width: 100%;
    height: 50%;
    padding: 8rem;
    color: var(--neutral-50);
    background: linear-gradient(rgb(72,0,72,0.5), rgb(192,72,72,0.5)), no-repeat center -25rem url("img/interview_header.jpg");
    background-size: cover;
    background-attachment:fixed;
}


.interview_content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 10rem;
}

.interview_content h1, .interview_content h2 {
    text-align: center;
}

.interview_content h1 {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 0;
    color: var(--rose-400);
}

.interview_content h2 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--rose-300);
}

.interview_content p {
    color: var(--neutral-400);
    max-width: 50%;
    text-align: center;
    margin: 0 auto 5rem;
}

.interview_content__video {
    width: fit-content;
    margin: 2.8rem auto;
}

@media (min-width: 1280px) {

}